<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
        <div id="viewCMS">
            <view-News :show-Del-Button="false" :news="news"></view-News><br>
        </div>
        <script type="text/x-template" id="temp1">
                <div >
                    {{showDelButton}}
                    <li v-for="(v,k) in news">
                        {{v.title}}
                        <button @click="del(k)" v-if="showDelButton">删除</button>
                    </li>
                </div>
        </script>
        <script>
            var viewNews = {
                template: '#temp1',
                props:['showDelButton','news'],
                data(){
                    return {

                    };     //每个子组件返回独立的子组件数据
                },
                methods:{
                    del(k){
                        this.news.splice(k,1);
                    }
                }
            }
             new Vue({
                el:'#viewCMS',
                 components:{viewNews},
                data:{
                    news:[
                        {title:'goxcheer'},
                        {title:'qigaoxiang'}
                    ]
                }
            });
        </script>
</body>
</html>