<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
    <script src="../vue-router.js"></script>
    <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
</head>
<body>
        <div id="app">
            <lists></lists>
        </div>
        <script type="text/x-template" id="lists">
                <div>
                    <table style="width: 90%">
                        <tr>
                            <td>编号</td>
                            <td>名称</td>
                            <td>单价</td>
                            <td>数量</td>
                            <td>合计</td>
                            <td>操作</td>
                        </tr>
                        <tr v-for="v in goods">
                            <td>{{v.id}}</td>
                            <td>{{v.title}}</td>
                            <td>{{v.price}}</td>
                            <td><input type="number" v-model="v.num"></td>
                            <td>{{v.totalCount}}</td>
                            <td><button @click="del(v.id)">删除</button></td>
                        </tr>
                    </table>
                    总价：{{totalPrice}}
                </div>
        </script>
        <script>
            let store = new Vuex.Store({
                state:{
                    goods:[
                        {id:1,title:'iphone',price:5000,num:0},
                        {id:2,title:'computer',price:6000,num:0}
                    ]
                },
                getters:{
                    totalPrice:(state)=>{
                        let temp = 0;
                        state.goods.forEach((v)=>{
                            temp += v.price*v.num;
                        });
                        return temp;
                    },
                    goods:(state)=>{
                        var temp = state.goods;
                        temp.forEach((v)=>{
                            v.totalCount = v.price*v.num;
                        });
                        return temp;
                    }
                },
                mutations:{
                    del(state,params){
                        let temp ;
                       for (let i=0 ; i< state.goods.length ; i++) {
                           if (state.goods[i].id == params.id) {
                               temp = i;
                               break;
                           }
                       }
                       state.goods.splice(temp,1);
                    }
                }
            });
            const lists = {
                template:'#lists',
                computed:{
                    totalPrice(){
                        return this.$store.getters.totalPrice;
                    },
                    goods(){
                        return this.$store.getters.goods;
                    }
                },
                methods:{
                    del(v){
                        this.$store.commit('del',{v});
                    }
                }
            }
             new Vue({
                el:'#app',
                 store,
                components:{
                    lists
                }
            });
        </script>
</body>
</html>
